@use "Var";
.text {
  font-size: 30px !important;
  font-weight: 900;
  padding: 12px 60px;
}

body.dark .text {
  color: #d4d2e5;
}
.SecText {
  font-size: 21px;
  font-weight: 700;
  color: Var.$primary-color;
}

body.dark .SecText {
  color: white;
}
.d-text {
  color: #01146c;
}

body.dark .d-text {
  color: #fff;
}
.l-text {
  color: Var.$primary-color;
}
.container,
.home {
  margin-top: 8rem;
}
@media only screen and (max-width: 768px) {
  .text {
    font-size: 24px !important;
    padding: 12px 20px;
  }
  .Padinputs {
    font-size: 20px;
  }
  .SecText {
    font-size: 18px !important;
  }
}
