@use "Var";

body.dark .Padinputs {
  border: 3px solid Var.$Darksubtext-color;
  color: Var.$Darktext-color;
  background-color: Var.$Darksidebar-color;
}

body.dark .formbars button {
  color: Var.$Darktext-color;
  &:hover {
    color: Var.$Darksubtext-color;
    border-color: Var.$Darktext-color;
  }
}

body.dark a:hover{
  color: Var.$Darktext-color;
}

body.dark .nav_list a:hover{
  color: Var.$Darkfirst-color;
}


body.dark .subtext {
  color: Var.$Darksubtext-color !important;
}


body.dark #Caution {
  color: Var.$Darksubtext-color;
}


body.dark .text {
  color: #d4d2e5;
}


body.dark .SecText {
  color: white;
}


body.dark .d-text {
  color: #fff;
}


body.dark .header{
  background-color: #02032c;
}


body.dark .header_toggle{
  color: Var.$Darkfirst-color;
}


body.dark .l-navbar{
  background-color: #02032c;
  
}

body.dark .shadow {
  box-shadow: 0 .5rem 1rem rgba(118, 64, 255, 0.15)!important;  
}