@use "Var";

.FormCont {
  height: 90vh;
}
.formbars {
  width: 100%;
  height: fit-content;
  & form {
    max-width: 40rem;
    min-width: 20rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5rem;
    flex-direction: column;
    & span {
      width: 100%;
      padding: 22px 10px;
      display: flex;
      flex-direction: column;
    }
    & button {
      align-self: flex-end;
      margin-right: 2rem;
      color: Var.$primary-color;
      cursor: pointer;
      &:hover {
        color: Var.$Darkbody-color;
      }
    }
  }
}

.Padinputs {
  padding: 12px 20px;
  border: 3px solid Var.$primary-color;
  border-radius: 12px;
  font-size: 24px;
  background-color: Var.$white-color;
  outline: none;
  transition: Var.$tran-03;
}

.home,.container a{
  text-decoration: underline !important;
}
.subtext {
  font-weight: 800;
}


// Singup and Forgot buttons
.Signup-forgot {
  width: 100%;
  word-wrap: break-word;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Singup Page Caution before form

#Caution {
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 6px;
  // color: Var.$primary-color;
  // color: #560404;
}

