{% extends "Base.html" %}


<!-- Head -->
{% block head %}
    <title>KV Library</title>
{% endblock %}


<!-- Header Content -->
{% block header %}
<div class="text">Home</div>
{% endblock %}


<!-- Body Content -->

{% block Content %}
    <div class="container">
        <div class="row SecText">
             Add Link to the Navigation bar
        </div>
        <div class="row SecText">
             and update the value of colorLink function conditions !!
        </div>
        <div class="row SecText">
        </div>
    </div>
{% endblock %}


<!-- Scripts -->
{% block Script %}

{% endblock %}
